
@{
    Layout = null;
}

@model WebApplication2.Models.AutoService
<h2> @Model.Name</h2>
@using (Html.BeginForm("EditAutoService", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Name, "Название автосервиса")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.City, "Город")
        <br />
        @Html.EditorFor(m => m.City)
    </p>
    <p>
        @Html.LabelFor(m => m.Site, "Сайт")
        <br />
        @Html.EditorFor(m => m.Site)

    </p>
    <p>
        @Html.LabelFor(m => m.VK, "ВКонтакте")
        <br />
        @Html.EditorFor(m => m.VK)

    </p>
    <p>
        @Html.LabelFor(m => m.FaceBook, "FaceBook")
        <br />
        @Html.EditorFor(m => m.FaceBook)

    </p>
    <p>
        @Html.LabelFor(m => m.Description, "Описание")
        <br />
        @Html.EditorFor(m => m.Description)

    </p>
    <p>
        @Html.LabelFor(m => m.Grapf, "График работы")
        <br />
        @Html.EditorFor(m => m.Grapf)

    </p>
    <p>
        @Html.LabelFor(m => m.Phone, "Контактный номер")
        <br />
        @Html.EditorFor(m => m.Phone)

    </p>
    <p>
       
        @Html.LabelFor(m => m.Picture, "Логотип")
        <br />

        @if (Model.Picture != null)
    {
        @Html.Raw("<img style='width:80px; height:80px;' src=\"data:image/jpeg;base64,"
                                                 + Convert.ToBase64String(Model.Picture) + "\" />")
            @Html.HiddenFor(m=>m.Picture,Model.Picture)
        <br />}
        <input type="file" name="Image" accept="image/jpeg,image/png">
    </p>

    <p><input type="submit" value="Сохранить" /></p>
</fieldset>
}